{
  "extends": [
    "eslint-config-umi",
    "@typescript-eslint",
    "@typescript-eslint/consistent-type-definitions"
  ],
  // "parser": "@typescript-eslint/parser",
  // "plugins": [
  //   "@typescript-eslint"
  // ],
  // "rules": {
  //   // 禁止使用 var
  //   // off:关闭；warn:警告；error:报错；
  //   "no-va": "error",
  //   // 优先使用 interface 而不是 type
  //   "@typescript-eslint/consistent-type-definitions": [
  //     "error",
  //     "interface"
  //   ]
  // }
}