@import '~antd/dist/antd.less';

:root {
  --promary-color: #1890ff;
}

html,
body,
#root {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

/* flex */
.flex {
  display: flex;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexRowRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.inline {
  display: inline-block;
}

/* margin */
.mgt5 {
  margin-top: 5px;
}

.mgt10 {
  margin-top: 10px;
}

.mgt20 {
  margin-top: 20px;
}

.mgl5 {
  margin-left: 5px;
}

.mgl10 {
  margin-left: 10px;
}

.mgl20 {
  margin-left: 20px;
}

.mgr10 {
  margin-right: 10px;
}

.mgr20 {
  margin-right: 20px;
}

.mgb10 {
  margin-bottom: 10px;
}

/* padding */
.pdt10 {
  padding-top: 10px;
}

.pdt20 {
  padding-top: 20px;
}

.w100 {
  width: 100%;
}

/** Header **/
.header {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  .flexRow;
  align-items: center;
  .navContainer {
    flex: 1;
    .flexRow;
    align-items: center;
    transform: none;
    background-color: #fff;
    .navItem {
      width: 100px;
      height: 100%;
      text-align: center;
    }
  }
  .buttons {
    .flexRow;
    align-items: center;
    margin-left: 20px;
  }
  .switchLocale {
    .flexRow;
    width: 100px;
    align-items: center;
    margin-left: 20px;
  }
}
/** container **/
.container {
  background-color: #fff;
  height: calc(100% - 50px);
  position: relative;
  .flexRow;
  .drapCanvas {
    flex: 1;
    background-color: #f4f4f4;
    box-sizing: border-box;
    height: 100%;
    .drapCanvasInner {
      overflow: auto;
      height: 100%;
      padding: 10px;
    }
    .editSection {
      position: relative;
      outline: 1px solid var(--promary-color);
      .handler {
        .flexRow;
        align-items: center;
        background-color: var(--promary-color);
        font-size: 12px;
        .title {
          flex: 1;
          height: 100%;
          .flexRow;
          align-items: center;
          .text {
            color: #fff;
          }
        }
        button {
          color: #fff;
          width: 24px;
          height: 24px;
          font-size: 12px;
          &:hover {
            color: #fff;
          }
        }
        .toolBar {
          background-color: var(--promary-color);
        }
      }
    }
  }
}
/** sideBar **/
.sideBar {
  position: relative;
  right: -300px;
  top: 0px;
  bottom: 0px;
  width: 0px;
  opacity: 0;
  overflow-y: auto;
  transform: translate(0, 0);
  visibility: hidden;
  height: 100%;
  background-color: #fff;
  transition: all 0.2s;
  &.show {
    opacity: 1;
    width: 300px;
    transform: translate(-100%, 0);
    visibility: visible;
  }
  .toolBar {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 9;
    button {
      color: var(--promary-color);
      &:hover {
        color: var(--promary-color);
      }
    }
  }
  .inputRow {
    .flexRow;
    align-items: center;
    padding: 5px 0;
    .label {
      width: 100px;
      text-align: right;
    }
    .value {
      flex: 1;
      margin-left: 10px;
      .colorIcon {
        width: 14px;
        height: 14px;
        background-color: #ff0000;
      }
    }
  }
  .colorPickContainer {
    width: 225px;
    position: relative;
    left: -80px;
    .colorPickBtn {
      position: absolute;
      top: -35px;
      right: 0px;
    }
  }
}

/** preview **/
.preview {
  .buttons {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(204, 204, 204, 0.4);
    background-color: #fff;
  }
}
