@import '~antd/dist/antd.less';
@import '~@/assets/css/variables.css';
@import (reference) '~@/assets/css/variables.less';
@import (reference) '~@/assets/css/classes.less';

html,
body,
#root {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

.ant-collapse-item {
  border-bottom: none !important;
  .bottomHr;
}

.dropPlaceholder {
  outline: 1px dashed @border-color;
  background-color: #fff;
  height: 100px;
}

.bf-container {
  border: 1px solid @border-color;
}
